<html>
  <head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
  </head>
  <body>
    <div class="searchbox">
      <div class="header">
        <h1>URL 검사</h1>

        <input
          onkeyup="filter()"
          type="text"
          id="value"
          placeholder="Type to Search"
        />
        <div id="btn_group">
          <button id="test_btn1">Search</button>
        </div>
      </div>
    </div>
  </body>
</html>
